/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind */

/* Images Start */
.bg-1 {
  background-image: url("https://res.cloudinary.com/dvym5vxsw/image/upload/v1766192005/bg-1_bxytm9.jpg");
}
.bg-register {
  background-image: url("https://res.cloudinary.com/dvym5vxsw/image/upload/v1766191504/bg-2_ftfgvk.jpg");
}
.bg-login {
  background-image: url("https://res.cloudinary.com/dvym5vxsw/image/upload/v1766191504/bg-3_cv3ttd.jpg");
}
.bg-header {
  background-image: url("https://www.youtube.com/embed/R4wiXj9NmEE?si=cSRymUkWl9VQNp3_&amp;start=2");
}
/* Images End */

/* Sembunyikan Scrollbar tapi tetep bisa discroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
