/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind */

/* Images Start */
.bg-1 {
  background-image: url("/src/assets/img/bg-1.jpg");
}
.bg-2 {
  background-image: url("/src/assets/img/bg-2.jpg");
}
.bg-3 {
  background-image: url("/src/assets/img/bg-3.jpg");
}
.bg-header {
  background-image: url("https://www.youtube.com/embed/R4wiXj9NmEE?si=cSRymUkWl9VQNp3_&amp;start=2");
}
/* Images End */
